# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build and Output Artifacts
/.next/
/out/
/build
/coverage
*.tsbuildinfo
next-env.d.ts

# Environment Files
.env*
!.env.example  # Optionally keep example env for reference

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# System Files
.DS_Store

# Miscellaneous
*.pem

# IDE Configuration
.idea/
.vscode/
